@charset "utf-8";
$width:992px;
$wid100:100%;   
    #cart-header-bottom {
        width: 100%;
        height: 30px;
        background: #f8f8f8;
        #header-bottom-center {           
            width: 992px;
            height: 30px;
            margin: 0 auto;
            ul:first-child {
                li {
                    text-align: center;
                    float: left;
                    width: 80px;
                    line-height: 30px;
                    a {
                        color: #888;
                    }
                    &:hover a {
                        color: #f5004b;
                    }
                    &:nth-of-type(3) {
                        width: 35px;
                    }
                    &:nth-of-type(4) a {
                        color: #f5004b;
                    }
                }
            }
            ul:last-child {
                width: 492px;
                margin-left: 492px;
                li {
                    text-align: center;
                    float: left;
                    width: 80px;
                    line-height: 30px;
                    a {
                        color: #888;
                    }
                    &:hover a {
                        color: #f5004b;
                    }
                }
            }
        }
    }

#cart-logo{
    width:$width;
    margin: 0 auto;
}

#cart-box{
    width:$width;
    margin: 0 auto;
    #cart-header{       
        width:980px;
        padding-left: 12px;
        height: 38px;
        background: #f3f3f3;
        span{
            float: left;
            display: block;
            height: 38px;
            line-height: 38px;
            font-size: 12px;
        }
        span:nth-of-type(1){
            width: 109px;
        }
        span:nth-of-type(2){
            width: 409px;
        }
        span:nth-of-type(3){
            width: 160px;
        }
        span:nth-of-type(4){
            width: 93px;
        }
        span:nth-of-type(5){
            width: 115px;
        }

    }
    #cart-list{
        li{
            padding: 22px 0 0 12px;
            width: 978px;
            height: 100px;
            background: #fffaf4;
            border: 1px solid #e6e6e6;
            p{
                float: left;
            }
            .checkbox{
                
            }
            .goods{
                img{
                    width: 80px;
                    height: 80px;
                    float: left;
                    margin-left: 5px;
                }
                span{
                    margin-left: 10px;
                    display: block;
                    width: 390px;
                    float: left;
                    font-size:12px ;
                }
            }
            .price{
                font-size: 14px;
                width: 142px;
            }
            .count{
                width: 113px;
                input{
                    width: 46px;
                    height: 12px;
                    line-height: 15px;
                    border: 1px solid #ccc;
                    color: #343434;
                    text-align: center;
                    padding: 4px 0;
                    background-color: #fff;
                    z-index: 2;
                    float: left;
                    margin-right: -1px;
                    position: relative;
                }
                span{
                    height: 20px;
                    width: 15px;
                    border: 1px solid #ccc;
                    background: #fff;
                    text-align: center;
                    line-height: 20px;
                    color: #444;
                    float: left;
                    margin-right: -1px;
                    position: relative;
                    z-index: 0;
                    cursor: pointer;
                }
            }
            .subtotal{
                font-size: 14px;
                width: 120px;
            }
            .operation{
               font-size: 14px; 
               span{
                   cursor: pointer;
                   &:hover{
                       color: red;
                   }
               }
            }
        }
    }
}
#foot-wrap{
    width: $wid100;
    background: #f3f3f3;
    .foot {
        width: $width;
        margin: 10px auto 0;
        color: #666;
        height: 60px;       
        position: relative;
        z-index: 8;
        line-height: 60px;
        .fl{
            float: left;
        }
        .fr{
            float: right;
        }
        .select-all{
            width: 100px;
            height: 60px;
            line-height: 60px;
            padding-left: 12px;
            color: #666;
            font-size: 12px;
        }
        .delete{
            color: #666;
        }
        .closing{
            width: 136px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            background: #e3101e;
            cursor: pointer;
            font-size: 16px;
        }
        .total{
            margin: 0 20px;
            cursor: pointer;
            font-size: 12px;
            #priceTotal{
                color: red;
                font-family: "Microsoft Yahei";
                font-weight: bold;
                font-size: 18px;
            }
        }
        .selected{
            margin-right: 30px;
            font-size: 12px;
            cursor: pointer;
            &:hover{
                .arrow{
                    color: red;
                }
            }
            #selectedTotal{
                color: red;
                font-family: "Microsoft Yahei";
                font-weight: bold;
                font-size: 14px;
            }
            .arrow{
                position: relative;
                top:-3px;
                margin-left: 3px;
            }
            .down{
                position: relative;
                top:3px;
                display: none;
            }
        }
        .selected-view{
            width: 935px;
            border: 1px solid #c8c8c8;
            position: absolute;
            height: auto;
            background: #ffffff;
            z-index: 9;
            bottom: 48px;
            left: -1px;
            display:none;
            font-size: 12px;
            div{
                height: auto;
            }
            .arrow{
                font-size: 16px;
                line-height: 100%;
                color:#c8c8c8;
                position: absolute;
                right: 330px;
                bottom: -9px;
                span{
                    color: #ffffff;
                    position: absolute;
                    left: 0px;
                    bottom: 1px;
                }
            }
            #selectedViewList{
                padding: 20px;
                margin-bottom: -20px;
                width: 600px;
                height: 100px;
                background: red;
                div{
                    display: inline-block;
                    position: relative;
                    width: 80px;
                    height: 80px;
                    border: 1px solid #ccc;
                    margin: 10px;
                    &:hover{
                        span{
                            display: block;
                        }
                    }
                    span{
                        display: none;
                        color: #ffffff;
                        font-size: 12px;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        width: 60px;
                        height: 18px;
                        line-height: 18px;
                        text-align: center;
                        background: RGBA(0,0,0,.5);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.show{
        img{
            width: 80px;
            height: 80px;
        }
        width: $width;
        margin: 10px auto 0;
        color: #666;
        height: 60px;       
        position: relative;
        z-index: 8;
        line-height: 60px;
        .fl{
            float: left;
        }
        .fr{
            float: right;
        }
        .select-all{
            width: 100px;
            height: 60px;
            line-height: 60px;
            padding-left: 12px;
            color: #666;
            font-size: 12px;
        }
        .delete{
            color: #666;
        }
        .closing{
            width: 136px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            background: #e3101e;
            cursor: pointer;
            font-size: 16px;
        }
        .total{
            margin: 0 20px;
            cursor: pointer;
            font-size: 12px;
            #priceTotal{
                color: red;
                font-family: "Microsoft Yahei";
                font-weight: bold;
                font-size: 18px;
            }
        }
        .selected{
            margin-right: 30px;
            font-size: 12px;
            cursor: pointer;
            &:hover{
                .arrow{
                    color: red;
                }
            }
            #selectedTotal{
                color: red;
                font-family: "Microsoft Yahei";
                font-weight: bold;
                font-size: 14px;
            }
            .arrow{
                position: relative;
                top:-3px;
                margin-left: 3px;
            }
            .down{
                position: relative;
                top:3px;
                display: none;
            }
        }
        .selected-view{
            width: 990px;
            height: 123px;
            border: 1px solid #c8c8c8;
            position: absolute;
            height: auto;
            background: rgba(0,0,0,.1);
            color: #000;
            z-index: 9;
            bottom: 70px;
            left: -1px;
            display:none;
            font-size: 12px;
            div{
                height: auto;
            }
            .arrow{
                font-size: 16px;
                line-height: 100%;
                color:#c8c8c8;
                position: absolute;
                right: 330px;
                bottom: -9px;
                span{
                    color: rgba(0,0,0,.1);
                    position: absolute;
                    left: 0px;
                    bottom: 1px;
                }
            }
            #selectedViewList{
                padding: 20px;
                width: 950px;
                height: 83px;
                background: rgba(0,0,0,.3);
                div{
                    display: inline-block;
                    position: relative;
                    width: 80px;
                    height: 80px;
                    border: 1px solid #ccc;
                    margin: 10px;
                    &:hover{
                        span{
                            display: block;
                        }
                    }
                    span{
                        display: none;
                        color: #ffffff;
                        font-size: 12px;
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        width: 60px;
                        height: 18px;
                        line-height: 18px;
                        text-align: center;
                        background: RGBA(0,0,0,.5);
                        cursor: pointer;
                    }
                }
            }
        }
    }
.show{
    .selected{
        .down{
            display: inline;
        }
        .up{
            display: none;
        }
    }
    .selected-view{
        display: block;
    }
}

    #index-footw{
        border-top: 1px solid #dd00a7;
        background: #f7f7f7;
        width: $wid100;
        padding: 20px 0 0;        
        #index-footer{
            position: relative;
            width: $width;
            margin: 0 auto;     
            ul{
                width: $width;
                height: 22px;
                li{
                    float: left;
                    font: 12px/22px Arial,"Microsoft YaHei";
                    padding: 0 13px 0 0;
                    color: #666;
                    white-space: nowrap;
                }
            }         
            p{
                font: 12px/22px Arial;
                color: #999;
            }
            span:nth-of-type(2){
                i{
                  background: url(../img/ui.png) -45px -135px;  
                }
            }
            span{
                display: inline-block;
                padding: 0 50px 40px 0;
                i{
                    display: block;
                    width: 45px;
                    height: 45px;
                    background: url(../img/ui.png) 0 -135px;
                    float: left;
                }
                p{
                    margin-left: 10px;
                    font: 12px/20px Arial,"Microsoft YaHei";
                    float: left;
                    width: 210px;
                    overflow: hidden;
                    height: 45px;
                    strong{
                        display: block;
                        font: 400 16px/25px Arial,"Microsoft YaHei";
                    }
                    a{
                        color: #999;
                    }
                }
            }
            
            #foot-credit{
                border-top: 1px solid #e6e6e6;
                margin-top: 5px;
                padding: 10px 0 25px;
                overflow: hidden;
                a{
                    color: #666;
                    width: 130px;
                    i{
                        display: block;
                        width: 35px;
                        height: 35px;
                        background: url(../img/ui.png) 0 -180px;
                        float: left;
                    }
                    
                    b{
                        font: 12px/18px Arial,"Microsoft YaHei";
                        display: block;
                        width: 60px;
                        float: left;
                        color: #999;
                        padding: 0 30px 0 5px;

                    }
                }
                a:nth-of-type(2){
                    width: 120px;
                    i{
                        background: url(../img/ui.png) -35px -180px;
                    }
                    
                }
                a:nth-of-type(3){
                    i{
                        background: url(../img/ui.png) -70px -180px;
                    }
                    width: 120px;
                    b{
                        padding-top: 9px;
                    }
                }
                a:nth-of-type(4){
                    i{
                        background: url(../img/ui.png) -105px -180px;
                    }
                    b{
                        width: 50px;
                    }
                    width: 120px;
                }
                a:nth-of-type(5){
                    i{
                        background: url(../img/ui.png) -140px -180px;
                    }
                    width: 130px;
                }
                a:nth-of-type(6){
                    i{
                        background: url(../img/ui.png) -175px -180px;
                    }
                    b{
                        width: 110px;
                    }
                    width: 180px;
                }
            }
        }
    }
