@charset "utf-8";
$width:1200px;
$wid100:100%;
#index-text-wrap {
    width: $wid100;
    height: 158px;
    border-bottom: 2px solid #d917a2;
    #index-text {
        width: $width;
        height: 118px;
        background: #fff;
        margin: 0 auto;
        position: relative;
        #topSearch {
            position: absolute;
            width: 500px;
            top: 32px;
            left: 385px;
            #index-search {
                border: 2px solid #d917a2;
                font-size: 14px;
                height: 30px;
                background: #fff;
                form {
                    display: block;
                    #search-type-dropdown {
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-family: 'Microsoft YaHei';
                        font-size: 14px;
                        color: #A5A5A5;
                        float: left;
                        width: 62px;
                        height: 30px;
                        line-height: 30px;
                        #search-type {
                            position: relative;
                            width: 42px;
                            padding: 0 10px;
                            height: 32px;
                            border-right: 1px solid #dd00a7;
                            span {
                                line-height: 32px;
                                text-align: center;
                            }
                        }
                        #search-type-list {
                            position: absolute;
                            right: -1px;
                            top: 32px;
                            border: 1px solid #dd00a7;
                            background-color: #fff;
                        }
                    }
                    input {
                        border: none;
                        width: 310px;
                        padding: 5px 5px 5px 72px;
                        line-height: 20px;
                        float: left;
                        font-size: 14px;
                        font-family: arial;
                        color: #5E5E5E;
                        background-color: transparent;
                    }
                    button {
                        width: 90px;
                        height: 30px;
                        border: none;
                        cursor: pointer;
                        float: right;
                        display: inline;
                        background: #dd00a7;
                        font: 16px/30px 'microsoft yahei';
                        color: #fff;
                        letter-spacing: 2px;
                        text-indent: 0;
                    }
                }
            }
            #hotword {
                margin: 6px 0 0;
                color: #A5A5A5;
                overflow: hidden;
                line-height: 14px;
                height: 14px;
                font-size: 12px;
                a {
                    display: inline-block;
                    margin-right: 5px;
                    line-height: 14px;
                    color: #A5A5A5;
                    font-family: 'microsoft yahei';
                    &:nth-of-type(1) {
                        color: #dd00a7;
                    }
                    &:nth-of-type(4) {
                        color: #dd00a7;
                    }
                }
            }
        }
        #index-cart{
            position: absolute;
            right: 0;
            top: 32px;
            z-index: 92;
            width: 240px;
            ul{
                float: right;
                display: inline;
                z-index: 96;
                position: relative;
                font-size: 12px;
                li{
                    float: left;
                    display: inline;
                    vertical-align: middle;
                    position: relative;
                    #cartlinkbox{
                        display: inline-block;
                        a{
                            padding: 5px 20px 0 45px;
                            line-height: 34px;
                            height: 34px;
                            width: 75px;
                            border: none;
                            margin: 1px;
                            color: #5E5E5E;
                            float: left;
                            display: inline;
                            position: relative;
                            z-index: 97;
                            .i-cart{
                                position: absolute;
                                width: 27px;
                                height: 20px;
                                background: url(../img/ui.png) -100px -701px;
                                top: 11px;
                                left: 10px;
                                .shopnum{
                                    position: absolute;
                                    height: 18px;
                                    line-height: 18px;
                                    padding: 0 3px;
                                    top: -18px;
                                    min-width: 14px;
                                    text-align: center;
                                    left: 15px;
                                    background-color: #A5A5A5;
                                    color: #FFF;
                                    font-weight: 700;
                                    #commerce{
                                        line-height: 18px;
                                        text-align: center;
                                        color: #FFF;
                                        font-weight: 700;
                                        font-style: normal;
                                    }
                                    i{
                                        position: absolute;
                                        width: 0;
                                        height: 0;
                                        border: 4px dashed transparent;
                                        border-color: transparent transparent transparent #A5A5A5;
                                        border-right: 0;
                                        border-left-style: solid;
                                        overflow: hidden;
                                        bottom: -4px;
                                        left: 5px;
                                    }
                                }
                            }
                            #hdrcarttext{
                                color: #5E5E5E;
                                line-height: 34px;
                            }
                        }
                    }
                }
            }
        }
    }
    #index-text-bottom {
        width: $width;
        height: 40px;
        margin: 0 auto;
        //      border-bottom: 1px solid #d917a2;
        #index-tit {
            float: left;
            width: 181px;
            height: 40px;
            padding-left: 19px;
            background: #d917a2;
            line-height: 40px;
            a {
                color: #fff;
                font-size: 16px;
            }
        }
        #index-text-bottom-list {
            float: left;
            padding-left: 19px;
            width: 751px;
            height: 38px;
            li {
                float: left;
                h2 {
                    font-weight: bold;
                    a {
                        font-size: 14px;
                        display: inline-block;
                        padding: 0 19px;
                        word-break: keep-all;
                        line-height: 38px;
                        width: 60px;
                        color: #000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#index-banner {
    width: $wid100;
    height: 570px;
    #index-banner-top-wrap {
        height: 400px;
        width: $wid100;
        #index-banner-top {
            width: $width;
            height: 400px;
            background: #eee;
            margin: 0 auto;
            position: relative;
            nav {
                position: absolute;
                top: 0;
                left: 0;
                height: 570px;
                width: 200px;
                background: #d917a2;
                float: left;
                z-index: 10;
                .navCon{
                    padding: 23px 0 0 23px;
                    width: 735px;
                    height: 545px;
                    border: 1px solid #ddd;
                    border-left: 1px solid #fff;;
                    position: absolute;
                    left: 200px;
                    background: #fff;
                    display: none;
                    #navCon{
                        .navList{
                            .part1{
                                .detail{
                                    dl{
                                        dt{
                                            a{
                                                font-size: 14px;
                                                color: #000;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .nav-list {
                    a {
                        margin-right: 5px;
                        color: #fff;
                    }
                    #nav-item-first {
                        padding-top: 20px;
                    }
                    .nav-item {
                        padding: 10px 15px;
                        width: 170px;
                        height: 40px;
                        &:hover {
                            background: #fff;
                            a {
                                color: #000;
                                &:hover {
                                    color: #d917a2;
                                }
                            }
                        }
                        h2 {
                            display: block;
                            width: 80px;
                            height: 24px;
                            overflow: hidden;
                            a {
                                font-size: 14px;
                            }
                        }
                    }
                }
                #nav-json {
                    position: absolute;
                    top: 0;
                    left: 200px;
                    width: 758px;
                    height: 568px;
                    background: #fff;
                    border: 1px solid #e5e5e5;
                    border-color: #e5e5e5 #e5e5e5 #e5e5e5 #fff;
                    display: none;
                }
            }
            #banner {
                width: 760px;
                height: 400px;
                position: absolute;
                top: 0;
                left: 200px;
                #banner-meau {
                    margin-left: -172px;
                    position: absolute;
                    left: 50%;
                    bottom: 13px;
                    z-index: 1;
                    height: 20px;
                    overflow: hidden;
                    text-align: center;
                    ul {
                        .active {
                            background: #e3101e;
                            opacity: .3;
                        }
                        li {
                            display: inline-block;
                            margin-right: 10px;
                            width: 30px;
                            height: 5px;
                            background: #000;
                            opacity: .3;
                            cursor: pointer;
                        }
                    }
                }
                #prev {
                    left: 0;
                     span:nth-of-type(1){
                         background: url(../img/arrow.png);
                     }
                }
                #next {
                    right: 0;
                    span:nth-of-type(1){
                        background: url(../img/arrow.png) no-repeat -48px 0;
                    }
                    
                }
                a {
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    margin-top: -40px;
                    z-index: 1;
                    width: 40px;
                    height: 80px;
                    cursor: pointer;
                    color: #eee;
                    span:nth-of-type(1) {
                        position: absolute;
                        left: 10px;
                        top: 23px;
                        display: inline-block;
                        z-index: 3;
                        width: 20px;
                        height: 35px;
                        font-size: 40px;
                        
                    }
                    span:nth-of-type(2) {
                        display: inline-block;
                        z-index: 2;
                        width: 40px;
                        height: 80px;
                        cursor: pointer;
                        background: #000;
                        opacity: .2;
                    }
                }
                #banner-list {
                    overflow: hidden;
                    li {
                        width: 760px;
                        height: 400px;
                        position: absolute;
                        left: 0;
                        top: 0;
                        overflow: hidden;
                        &:nth-of-type(1) {
                            background: url(../img/banner1.jpg);
                        }
                        &:nth-of-type(2) {
                            background: url(../img/banner2.jpg);
                        }
                        &:nth-of-type(3) {
                            background: url(../img/banner3.jpg);
                        }
                        &:nth-of-type(4) {
                            background: url(../img/banner4.jpg);
                        }
                        &:nth-of-type(5) {
                            background: url(../img/banner5.jpg);
                        }
                        &:nth-of-type(6) {
                            background: url(../img/banner6.jpg);
                        }
                        &:nth-of-type(7) {
                            background: url(../img/banner7.jpg);
                        }
                        &:nth-of-type(8) {
                            background: url(../img/banner8.jpg);
                        }
                    }
                }
            }
            #banner-right {
                position: absolute;
                left: 960px;
                top: 0;
                width: 240px;
                height: 570px;
                float: left;
                #banner-r-t{
                    width: 240px;
                    height: 300px;
                }
                #banner-r-b{
                    width: 240px;
                    height: 270px; 
                }
            }
        }
    }
    #index-banner-bottom-wrap {
        height: 170px;
        width: $wid100;
        #index-banner-bottom {
            margin: 0 auto;
            width: $width;
            height: 170px;
            position: relative;
            #index-banner-bottom-center {
                position: absolute;
                bottom: 0;
                overflow: hidden;
                width: 750px;
                height: 160px;
                margin-left: 200px;
                padding: 10px 0 0 10px;
                img:nth-of-type(2) {
                    margin: 0 10px;
                }
            }
        }
    }
}

#index-quanzi-wrap {
    width: $wid100;
    margin: 18px auto 0;
    color: #333;
    #index-quanzi {
        width: $width;
        margin: 0 auto;
        p {
            font-size: 24px;
            line-height: 42px;
        }
        ul {
            border: 1px solid #e5e5e5;
            padding: 20px 0 9px 10px;
            height: 266px;
            li {
                float: left;
                width: 275px;
                margin: 0 10px;
                display: inline;
                overflow: hidden;
                div:nth-of-type(2) {
                    padding: 10px 0 0;
                    font-size: 14px;
                    line-height: 22px;
                    height: 22px;
                    overflow: hidden;
                    span {
                        float: left;
                        color: #fff;
                        padding: 0 5px;
                        background: #f97142;
                        border-radius: 2px;
                        line-height: 22px;
                        height: 22px;
                        overflow: hidden;
                    }
                    a {
                        color: #333;
                        padding-left: 10px;
                        word-break: break-all;
                        white-space: nowrap;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        height: 22px;
                        font-size: 14px;
                        &:hover {
                            color: red;
                        }
                    }
                }
                div:nth-of-type(3) {
                    line-height: 32px;
                    color: #999;
                    font-size: 12px;
                    span {
                        margin-right: 20px;
                        color: #ed283a;
                    }
                }
            }
        }
    }
}

#index-brand-wrap {
    width: $wid100;
    #index-brand {
        margin: 0 auto;
        width: $width;
        height: 625px;
        li {
            cursor: pointer;
            &:hover img {
                background: rgba(255, 255, 255, .4);
            }
        }
        #index-brand-pp {
            display: inline;
            margin-right: 13px;
            float: left;
            div {
                background: #d917a2;
                padding-left: 10px;
                margin-top: 30px;
                width: 382px;
                height: 38px;
                line-height: 38px;
                font-size: 20px;
                color: #fff;
            }
            ul {
                position: relative;
                width: 390px;
                height: 554px;
                margin-top: 2px;
                border: 1px solid #eee;
                border-top: none;
                overflow: hidden;
                li {
                    float: left;
                    width: 194px;
                    height: 184px;
                    border-right: 1px dashed #eee;
                    border-bottom: 1px dashed #eee;
                    overflow: hidden;
                    &:nth-of-type(2) {
                        border-right: none;
                    }
                    &:nth-of-type(4) {
                        border-right: none;
                    }
                    &:nth-of-type(6) {
                        border-bottom: none;
                    }
                    &:nth-of-type(6) {
                        border-right: none;
                        border-bottom: none;
                    }
                }
            }
        }
        #index-brand-rq {
            display: inline;
            margin-right: 13px;
            float: left;
            div {
                background: #d917a2;
                padding-left: 10px;
                margin-top: 30px;
                width: 380px;
                height: 38px;
                line-height: 38px;
                font-size: 20px;
                color: #fff;
            }
            ul {
                position: relative;
                width: 388px;
                height: 554px;
                margin-top: 2px;
                border: 1px solid #eee;
                border-top: none;
                overflow: hidden;
                li {
                    float: left;
                    width: 193px;
                    height: 184px;
                    border-right: 1px dashed #eee;
                    border-bottom: 1px dashed #eee;
                    overflow: hidden;
                    &:nth-of-type(2) {
                        border-right: none;
                    }
                    &:nth-of-type(4) {
                        border-right: none;
                    }
                    &:nth-of-type(6) {
                        border-bottom: none;
                    }
                    &:nth-of-type(6) {
                        border-right: none;
                        border-bottom: none;
                    }
                }
            }
        }
        #index-brand-bb {
            float: left;
            div {
                background: #d917a2;
                padding-left: 10px;
                margin-top: 30px;
                width: 380px;
                height: 38px;
                line-height: 38px;
                font-size: 20px;
                color: #fff;
            }
            div {
                background: #d917a2;
                padding-left: 10px;
                margin-top: 30px;
                width: 380px;
                height: 38px;
                line-height: 38px;
                font-size: 20px;
                color: #fff;
            }
            ul {
                position: relative;
                width: 388px;
                height: 554px;
                margin-top: 2px;
                border: 1px solid #eee;
                border-top: none;
                overflow: hidden;
                li {
                    float: left;
                    width: 193px;
                    height: 184px;
                    border-right: 1px dashed #eee;
                    border-bottom: 1px dashed #eee;
                    overflow: hidden;
                    &:nth-of-type(2) {
                        border-right: none;
                    }
                    &:nth-of-type(4) {
                        border-right: none;
                    }
                    &:nth-of-type(6) {
                        border-bottom: none;
                    }
                    &:nth-of-type(6) {
                        border-right: none;
                        border-bottom: none;
                    }
                }
            }
        }
    }
}

#fixed-bar-wrap {
    width: $wid100;
    position: relative;
    z-index: 98;
    height: 50px;
    margin: 40px 0 20px 0;
    #fixed-bar {
        border-bottom: none;
        box-shadow: none;
        background: #d917a2;
        height: 50px;
        #wrapper {
            width: 1200px;
            clear: both;
            position: relative;
            margin: 0 auto;
            div {
                height: 50px;
                line-height: 50px;
                width: 95px;
                font-size: 22px;
                color: #fff;
            }
            #index-floor {
                position: absolute;
                left: 95px;
                top: 10px;
                float: left;
                width: 1060px;
                height: 30px;
                margin-left: 18px;
                overflow: hidden;
                li {
                    width: 94px;
                    height: 30px;
                    float: left;
                    a {
                        display: block;
                        width: 84px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        color: #fff;
                        font-size: 16px;
                        
                    }
                    &:hover {
                            background: #C80C93;
                            border-radius: 3px;
                        }
                    .floors {
                        background: #C80C93;
                        border-radius: 3px;
                    }
                }
                .floors {
                        background: #C80C93;
                        border-radius: 3px;
                    }
            }
        }
    }
}



