#index-text-wrap {
  width: 100%;
  height: 158px;
  border-bottom: 2px solid #d917a2; }
  #index-text-wrap #index-text {
    width: 1200px;
    height: 118px;
    background: #fff;
    margin: 0 auto;
    position: relative; }
    #index-text-wrap #index-text #topSearch {
      position: absolute;
      width: 500px;
      top: 32px;
      left: 385px; }
      #index-text-wrap #index-text #topSearch #index-search {
        border: 2px solid #d917a2;
        font-size: 14px;
        height: 30px;
        background: #fff; }
        #index-text-wrap #index-text #topSearch #index-search form {
          display: block; }
          #index-text-wrap #index-text #topSearch #index-search form #search-type-dropdown {
            position: absolute;
            top: 0;
            left: 0;
            font-family: 'Microsoft YaHei';
            font-size: 14px;
            color: #A5A5A5;
            float: left;
            width: 62px;
            height: 30px;
            line-height: 30px; }
            #index-text-wrap #index-text #topSearch #index-search form #search-type-dropdown #search-type {
              position: relative;
              width: 42px;
              padding: 0 10px;
              height: 32px;
              border-right: 1px solid #dd00a7; }
              #index-text-wrap #index-text #topSearch #index-search form #search-type-dropdown #search-type span {
                line-height: 32px;
                text-align: center; }
            #index-text-wrap #index-text #topSearch #index-search form #search-type-dropdown #search-type-list {
              position: absolute;
              right: -1px;
              top: 32px;
              border: 1px solid #dd00a7;
              background-color: #fff; }
          #index-text-wrap #index-text #topSearch #index-search form input {
            border: none;
            width: 310px;
            padding: 5px 5px 5px 72px;
            line-height: 20px;
            float: left;
            font-size: 14px;
            font-family: arial;
            color: #5E5E5E;
            background-color: transparent; }
          #index-text-wrap #index-text #topSearch #index-search form button {
            width: 90px;
            height: 30px;
            border: none;
            cursor: pointer;
            float: right;
            display: inline;
            background: #dd00a7;
            font: 16px/30px 'microsoft yahei';
            color: #fff;
            letter-spacing: 2px;
            text-indent: 0; }
      #index-text-wrap #index-text #topSearch #hotword {
        margin: 6px 0 0;
        color: #A5A5A5;
        overflow: hidden;
        line-height: 14px;
        height: 14px;
        font-size: 12px; }
        #index-text-wrap #index-text #topSearch #hotword a {
          display: inline-block;
          margin-right: 5px;
          line-height: 14px;
          color: #A5A5A5;
          font-family: 'microsoft yahei'; }
          #index-text-wrap #index-text #topSearch #hotword a:nth-of-type(1) {
            color: #dd00a7; }
          #index-text-wrap #index-text #topSearch #hotword a:nth-of-type(4) {
            color: #dd00a7; }
  #index-text-wrap #index-text-bottom {
    width: 1200px;
    height: 40px;
    margin: 0 auto; }
    #index-text-wrap #index-text-bottom #index-tit {
      float: left;
      width: 181px;
      height: 40px;
      padding-left: 19px;
      background: #d917a2;
      line-height: 40px; }
      #index-text-wrap #index-text-bottom #index-tit a {
        color: #fff;
        font-size: 16px; }
    #index-text-wrap #index-text-bottom #index-text-bottom-list {
      float: left;
      padding-left: 19px;
      width: 751px;
      height: 38px; }
      #index-text-wrap #index-text-bottom #index-text-bottom-list li {
        float: left; }
        #index-text-wrap #index-text-bottom #index-text-bottom-list li h2 {
          font-weight: bold; }
          #index-text-wrap #index-text-bottom #index-text-bottom-list li h2 a {
            font-size: 14px;
            display: inline-block;
            padding: 0 19px;
            word-break: keep-all;
            line-height: 38px;
            width: 60px;
            color: #000;
            text-decoration: none; }

#index-banner {
  width: 100%;
  height: 570px; }
  #index-banner #index-banner-top-wrap {
    height: 400px;
    width: 100%; }
    #index-banner #index-banner-top-wrap #index-banner-top {
      width: 1200px;
      height: 400px;
      background: #eee;
      margin: 0 auto;
      position: relative; }
      #index-banner #index-banner-top-wrap #index-banner-top nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 570px;
        width: 200px;
        background: #d917a2;
        float: left;
        z-index: 10; }
        #index-banner #index-banner-top-wrap #index-banner-top nav .navCon {
          width: 758px;
          height: 568px;
          border: 1px solid #ddd;
          border-left: 1px solid #fff;
          position: absolute;
          left: 200px;
          background: #fff;
          display: none; }
        #index-banner #index-banner-top-wrap #index-banner-top nav .nav-list a {
          margin-right: 5px;
          color: #fff; }
        #index-banner #index-banner-top-wrap #index-banner-top nav .nav-list #nav-item-first {
          padding-top: 20px; }
        #index-banner #index-banner-top-wrap #index-banner-top nav .nav-list .nav-item {
          padding: 10px 15px;
          width: 170px;
          height: 40px; }
          #index-banner #index-banner-top-wrap #index-banner-top nav .nav-list .nav-item:hover {
            background: #fff; }
            #index-banner #index-banner-top-wrap #index-banner-top nav .nav-list .nav-item:hover a {
              color: #000; }
              #index-banner #index-banner-top-wrap #index-banner-top nav .nav-list .nav-item:hover a:hover {
                color: #d917a2; }
          #index-banner #index-banner-top-wrap #index-banner-top nav .nav-list .nav-item h2 {
            display: block;
            width: 80px;
            height: 24px;
            overflow: hidden; }
            #index-banner #index-banner-top-wrap #index-banner-top nav .nav-list .nav-item h2 a {
              font-size: 14px; }
        #index-banner #index-banner-top-wrap #index-banner-top nav #nav-json {
          position: absolute;
          top: 0;
          left: 200px;
          width: 758px;
          height: 568px;
          background: #fff;
          border: 1px solid #e5e5e5;
          border-color: #e5e5e5 #e5e5e5 #e5e5e5 #fff;
          display: none; }
      #index-banner #index-banner-top-wrap #index-banner-top #banner {
        width: 760px;
        height: 400px;
        position: absolute;
        top: 0;
        left: 200px; }
        #index-banner #index-banner-top-wrap #index-banner-top #banner #banner-meau {
          margin-left: -172px;
          position: absolute;
          left: 50%;
          bottom: 13px;
          z-index: 1;
          height: 20px;
          overflow: hidden;
          text-align: center; }
          #index-banner #index-banner-top-wrap #index-banner-top #banner #banner-meau ul .active {
            background: #e3101e;
            opacity: .3; }
          #index-banner #index-banner-top-wrap #index-banner-top #banner #banner-meau ul li {
            display: inline-block;
            margin-right: 10px;
            width: 30px;
            height: 5px;
            background: #000;
            opacity: .3;
            cursor: pointer; }
        #index-banner #index-banner-top-wrap #index-banner-top #banner #prev {
          left: 0; }
          #index-banner #index-banner-top-wrap #index-banner-top #banner #prev span:nth-of-type(1) {
            background: url(../img/arrow.png); }
        #index-banner #index-banner-top-wrap #index-banner-top #banner #next {
          right: 0; }
          #index-banner #index-banner-top-wrap #index-banner-top #banner #next span:nth-of-type(1) {
            background: url(../img/arrow.png) no-repeat -48px 0; }
        #index-banner #index-banner-top-wrap #index-banner-top #banner a {
          display: inline-block;
          position: absolute;
          top: 50%;
          margin-top: -40px;
          z-index: 1;
          width: 40px;
          height: 80px;
          cursor: pointer;
          color: #eee; }
          #index-banner #index-banner-top-wrap #index-banner-top #banner a span:nth-of-type(1) {
            position: absolute;
            left: 10px;
            top: 23px;
            display: inline-block;
            z-index: 3;
            width: 20px;
            height: 35px;
            font-size: 40px; }
          #index-banner #index-banner-top-wrap #index-banner-top #banner a span:nth-of-type(2) {
            display: inline-block;
            z-index: 2;
            width: 40px;
            height: 80px;
            cursor: pointer;
            background: #000;
            opacity: .2; }
        #index-banner #index-banner-top-wrap #index-banner-top #banner #banner-list {
          overflow: hidden; }
          #index-banner #index-banner-top-wrap #index-banner-top #banner #banner-list li {
            width: 760px;
            height: 400px;
            position: absolute;
            left: 0;
            top: 0;
            overflow: hidden; }
            #index-banner #index-banner-top-wrap #index-banner-top #banner #banner-list li:nth-of-type(1) {
              background: url(../img/banner1.jpg); }
            #index-banner #index-banner-top-wrap #index-banner-top #banner #banner-list li:nth-of-type(2) {
              background: url(../img/banner2.jpg); }
            #index-banner #index-banner-top-wrap #index-banner-top #banner #banner-list li:nth-of-type(3) {
              background: url(../img/banner3.jpg); }
            #index-banner #index-banner-top-wrap #index-banner-top #banner #banner-list li:nth-of-type(4) {
              background: url(../img/banner4.jpg); }
            #index-banner #index-banner-top-wrap #index-banner-top #banner #banner-list li:nth-of-type(5) {
              background: url(../img/banner5.jpg); }
            #index-banner #index-banner-top-wrap #index-banner-top #banner #banner-list li:nth-of-type(6) {
              background: url(../img/banner6.jpg); }
            #index-banner #index-banner-top-wrap #index-banner-top #banner #banner-list li:nth-of-type(7) {
              background: url(../img/banner7.jpg); }
            #index-banner #index-banner-top-wrap #index-banner-top #banner #banner-list li:nth-of-type(8) {
              background: url(../img/banner8.jpg); }
      #index-banner #index-banner-top-wrap #index-banner-top #banner-right {
        position: absolute;
        left: 960px;
        top: 0;
        width: 240px;
        height: 570px;
        background: pink;
        float: left; }
        #index-banner #index-banner-top-wrap #index-banner-top #banner-right #banner-r-t {
          width: 240px;
          height: 300px; }
        #index-banner #index-banner-top-wrap #index-banner-top #banner-right #banner-r-b {
          width: 240px;
          height: 270px; }
  #index-banner #index-banner-bottom-wrap {
    height: 170px;
    width: 100%; }
    #index-banner #index-banner-bottom-wrap #index-banner-bottom {
      margin: 0 auto;
      width: 1200px;
      height: 170px;
      position: relative; }
      #index-banner #index-banner-bottom-wrap #index-banner-bottom #index-banner-bottom-center {
        position: absolute;
        bottom: 0;
        overflow: hidden;
        width: 750px;
        height: 160px;
        margin-left: 200px;
        padding: 10px 0 0 10px; }
        #index-banner #index-banner-bottom-wrap #index-banner-bottom #index-banner-bottom-center img:nth-of-type(2) {
          margin: 0 10px; }

#index-quanzi-wrap {
  width: 100%;
  margin: 18px auto 0;
  color: #333; }
  #index-quanzi-wrap #index-quanzi {
    width: 1200px;
    margin: 0 auto; }
    #index-quanzi-wrap #index-quanzi p {
      font-size: 24px;
      line-height: 42px; }
    #index-quanzi-wrap #index-quanzi ul {
      border: 1px solid #e5e5e5;
      padding: 20px 0 9px 10px;
      height: 266px; }
      #index-quanzi-wrap #index-quanzi ul li {
        float: left;
        width: 275px;
        margin: 0 10px;
        display: inline;
        overflow: hidden; }
        #index-quanzi-wrap #index-quanzi ul li div:nth-of-type(2) {
          padding: 10px 0 0;
          font-size: 14px;
          line-height: 22px;
          height: 22px;
          overflow: hidden; }
          #index-quanzi-wrap #index-quanzi ul li div:nth-of-type(2) span {
            float: left;
            color: #fff;
            padding: 0 5px;
            background: #f97142;
            border-radius: 2px;
            line-height: 22px;
            height: 22px;
            overflow: hidden; }
          #index-quanzi-wrap #index-quanzi ul li div:nth-of-type(2) a {
            color: #333;
            padding-left: 10px;
            word-break: break-all;
            white-space: nowrap;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 22px;
            font-size: 14px; }
            #index-quanzi-wrap #index-quanzi ul li div:nth-of-type(2) a:hover {
              color: red; }
        #index-quanzi-wrap #index-quanzi ul li div:nth-of-type(3) {
          line-height: 32px;
          color: #999;
          font-size: 12px; }
          #index-quanzi-wrap #index-quanzi ul li div:nth-of-type(3) span {
            margin-right: 20px;
            color: #ed283a; }

#index-brand-wrap {
  width: 100%; }
  #index-brand-wrap #index-brand {
    margin: 0 auto;
    width: 1200px;
    height: 625px; }
    #index-brand-wrap #index-brand li {
      cursor: pointer; }
      #index-brand-wrap #index-brand li:hover img {
        background: rgba(255, 255, 255, 0.4); }
    #index-brand-wrap #index-brand #index-brand-pp {
      display: inline;
      margin-right: 13px;
      float: left; }
      #index-brand-wrap #index-brand #index-brand-pp div {
        background: #d917a2;
        padding-left: 10px;
        margin-top: 30px;
        width: 382px;
        height: 38px;
        line-height: 38px;
        font-size: 20px;
        color: #fff; }
      #index-brand-wrap #index-brand #index-brand-pp ul {
        position: relative;
        width: 390px;
        height: 554px;
        margin-top: 2px;
        border: 1px solid #eee;
        border-top: none;
        overflow: hidden; }
        #index-brand-wrap #index-brand #index-brand-pp ul li {
          float: left;
          width: 194px;
          height: 184px;
          border-right: 1px dashed #eee;
          border-bottom: 1px dashed #eee;
          overflow: hidden; }
          #index-brand-wrap #index-brand #index-brand-pp ul li:nth-of-type(2) {
            border-right: none; }
          #index-brand-wrap #index-brand #index-brand-pp ul li:nth-of-type(4) {
            border-right: none; }
          #index-brand-wrap #index-brand #index-brand-pp ul li:nth-of-type(6) {
            border-bottom: none; }
          #index-brand-wrap #index-brand #index-brand-pp ul li:nth-of-type(6) {
            border-right: none;
            border-bottom: none; }
    #index-brand-wrap #index-brand #index-brand-rq {
      display: inline;
      margin-right: 13px;
      float: left; }
      #index-brand-wrap #index-brand #index-brand-rq div {
        background: #d917a2;
        padding-left: 10px;
        margin-top: 30px;
        width: 380px;
        height: 38px;
        line-height: 38px;
        font-size: 20px;
        color: #fff; }
      #index-brand-wrap #index-brand #index-brand-rq ul {
        position: relative;
        width: 388px;
        height: 554px;
        margin-top: 2px;
        border: 1px solid #eee;
        border-top: none;
        overflow: hidden; }
        #index-brand-wrap #index-brand #index-brand-rq ul li {
          float: left;
          width: 193px;
          height: 184px;
          border-right: 1px dashed #eee;
          border-bottom: 1px dashed #eee;
          overflow: hidden; }
          #index-brand-wrap #index-brand #index-brand-rq ul li:nth-of-type(2) {
            border-right: none; }
          #index-brand-wrap #index-brand #index-brand-rq ul li:nth-of-type(4) {
            border-right: none; }
          #index-brand-wrap #index-brand #index-brand-rq ul li:nth-of-type(6) {
            border-bottom: none; }
          #index-brand-wrap #index-brand #index-brand-rq ul li:nth-of-type(6) {
            border-right: none;
            border-bottom: none; }
    #index-brand-wrap #index-brand #index-brand-bb {
      float: left; }
      #index-brand-wrap #index-brand #index-brand-bb div {
        background: #d917a2;
        padding-left: 10px;
        margin-top: 30px;
        width: 380px;
        height: 38px;
        line-height: 38px;
        font-size: 20px;
        color: #fff; }
      #index-brand-wrap #index-brand #index-brand-bb div {
        background: #d917a2;
        padding-left: 10px;
        margin-top: 30px;
        width: 380px;
        height: 38px;
        line-height: 38px;
        font-size: 20px;
        color: #fff; }
      #index-brand-wrap #index-brand #index-brand-bb ul {
        position: relative;
        width: 388px;
        height: 554px;
        margin-top: 2px;
        border: 1px solid #eee;
        border-top: none;
        overflow: hidden; }
        #index-brand-wrap #index-brand #index-brand-bb ul li {
          float: left;
          width: 193px;
          height: 184px;
          border-right: 1px dashed #eee;
          border-bottom: 1px dashed #eee;
          overflow: hidden; }
          #index-brand-wrap #index-brand #index-brand-bb ul li:nth-of-type(2) {
            border-right: none; }
          #index-brand-wrap #index-brand #index-brand-bb ul li:nth-of-type(4) {
            border-right: none; }
          #index-brand-wrap #index-brand #index-brand-bb ul li:nth-of-type(6) {
            border-bottom: none; }
          #index-brand-wrap #index-brand #index-brand-bb ul li:nth-of-type(6) {
            border-right: none;
            border-bottom: none; }

#fixed-bar-wrap {
  width: 100%;
  position: relative;
  z-index: 98;
  height: 50px;
  margin: 40px 0 20px 0; }
  #fixed-bar-wrap #fixed-bar {
    border-bottom: none;
    box-shadow: none;
    background: #d917a2;
    height: 50px; }
    #fixed-bar-wrap #fixed-bar #wrapper {
      width: 1200px;
      clear: both;
      position: relative;
      margin: 0 auto; }
      #fixed-bar-wrap #fixed-bar #wrapper div {
        height: 50px;
        line-height: 50px;
        width: 95px;
        font-size: 22px;
        color: #fff; }
      #fixed-bar-wrap #fixed-bar #wrapper #index-floor {
        position: absolute;
        left: 95px;
        top: 10px;
        float: left;
        width: 1060px;
        height: 30px;
        margin-left: 18px;
        overflow: hidden; }
        #fixed-bar-wrap #fixed-bar #wrapper #index-floor li {
          width: 94px;
          height: 30px;
          float: left; }
          #fixed-bar-wrap #fixed-bar #wrapper #index-floor li a {
            display: block;
            width: 84px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #fff;
            font-size: 16px; }
            #fixed-bar-wrap #fixed-bar #wrapper #index-floor li a:hover {
              background: #C80C93;
              border-radius: 3px; }
          #fixed-bar-wrap #fixed-bar #wrapper #index-floor li .floors {
            background: #C80C93;
            border-radius: 3px; }

/*# sourceMappingURL=index.css.map */
