$width:1200px;
$wid100:100%;
#index-text-wrap{
    width: $wid100;
    height: 158px;
    border-bottom: 2px solid #d917a2;
    #index-text{
        width: $width;
        height: 118px;
        background: #fff;
        margin: 0 auto;
        position: relative;
        #topSearch{
            position: absolute;
            width: 500px;
            top: 32px;
            left: 385px;
            #index-search{
                border: 2px solid #d917a2;
                font-size: 14px;
                height: 30px;
                background: #fff;
                form{
                    display: block;
                    #search-type-dropdown{
                        position: absolute;
                        top: 0;
                        left: 0;
                        font-family: 'Microsoft YaHei';
                        font-size: 14px;
                        color: #A5A5A5;
                        float: left;
                        width: 62px;
                        height: 30px;
                        line-height: 30px;
                        #search-type{
                            position: relative;
                            width: 42px;
                            padding: 0 10px;
                            height: 32px;
                            border-right: 1px solid #dd00a7;
                            span{
                                line-height: 32px;
                                text-align: center;
                            }
                        }
                        #search-type-list{
                            position: absolute;
                            right: -1px;
                            top: 32px;
                            border: 1px solid #dd00a7;
                            background-color: #fff;
                            
                        }
                        
                    }
                    input{
                        border: none;
                        width: 310px;
                        padding: 5px 5px 5px 72px;
                        line-height: 20px;
                        float: left;
                        font-size: 14px;
                        font-family: arial;
                        color: #5E5E5E;
                        background-color: transparent;
                    }
                    button{
                        width: 90px;
                        height: 30px;
                        border: none;
                        cursor: pointer;
                        float: right;
                        display: inline;
                        background: #dd00a7;
                        font: 16px/30px 'microsoft yahei';
                        color: #fff;
                        letter-spacing: 2px;
                        text-indent: 0;
                    }        
                }               
            }
            #hotword{
                margin: 6px 0 0;
                color: #A5A5A5;
                overflow: hidden;
                line-height: 14px;
                height: 14px;
                font-size: 12px;
                a{
                    display: inline-block;
                    margin-right: 5px;
                    line-height: 14px;
                    color: #A5A5A5;
                    font-family: 'microsoft yahei';
                    &:nth-of-type(1){
                        color: #dd00a7;
                    }
                    &:nth-of-type(4){
                        color: #dd00a7;
                    }
                }
            }
        }
        
    }
    #index-text-bottom{
        width: $width;
        height: 40px;
        margin: 0 auto;
//      border-bottom: 1px solid #d917a2;
        #index-tit{
            float: left;
            width: 181px;
            height: 40px;
            padding-left: 19px;
            
            background: #d917a2;
            line-height: 40px;   
            a{
               color: #fff; 
               font-size: 16px;
            }       
        }
        #index-text-bottom-list{
                float: left;
                padding-left: 19px;
                width: 751px;
                height: 38px;
               
                li{
                    float: left;
                    h2{
                        font-weight: bold;
                        a{
                            font-size: 14px;
                            display: inline-block;
                            padding: 0 19px;
                            word-break: keep-all;
                            line-height: 38px;
                            width: 60px;
                            color: #000;
                            text-decoration: none;
                        }
                    }
                }
            }
    }
}
#index-banner{
    width: $wid100;
    height: 570px;
    #index-banner-top-wrap{
        height: 400px;
        width: $wid100;
        #index-banner-top{
            width: $width;
            height: 400px;
            background: #eee;
            margin: 0 auto;
            position: relative;
            nav{
                position: absolute;
                top: 0;
                left: 0;
                height: 570px;
                width: 200px;
                background: #d917a2;
                float: left;
                z-index: 10;
                .nav-list{
                    a{
                        margin-right: 5px;
                        color: #fff;
                    }
                    #nav-item-first{
                        padding-top: 20px;                       
                    }
                    .nav-item{
                        padding: 10px 15px;
                        width: 170px;
                        height: 40px;
                        &:hover{
                            background: #fff;
                            a{
                                color: #000;
                                &:hover{
                                    color: #d917a2;
                                }
                            }
                        }
                        h2{
                            display: block;
                            width: 80px;
                            height: 24px;
                            overflow: hidden;
                            a{
                                font-size: 14px;
                            }
                        }
                    }
                }
                #nav-json{
                    position: absolute;
                    top: 0;
                    left: 200px;
                    width: 758px;
                    height: 568px;
                    background: #fff;
                    border: 1px solid #e5e5e5 ;
                    border-color: #e5e5e5 #e5e5e5 #e5e5e5 #fff;
                    display: none;
                }
            }
            #banner{
                width: 760px;
                height: 400px;
                background: orangered;
                position: absolute;
                top: 0;
                left: 200px;
            }
            #banner-right{
                position: absolute;
                left: 960px;
                top: 0;
                width: 240px;
                height: 570px;
                background: pink;
                float: left;
            }
        }
    }
    #index-banner-bottom-wrap{
        height: 170px;
        width:$wid100;
        #index-banner-bottom{
            margin: 0 auto;
            width: $width;
            height: 170px;
            position: relative;
            #index-banner-bottom-center{
                position: absolute;
                bottom: 0;
                overflow: hidden;
                width: 750px;
                height: 160px;
                background: red;
                margin-left: 200px;
                padding: 10px 0 0 10px;
                img:nth-of-type(2){
                    margin: 0 10px;
                }
            }
        }
    }
}
