body {
  width: 990px;
  margin: 0 auto; }

body,
html {
  background: #FFF;
  color: #5e5e5e;
  font: 12px/1.5 Arial, simsun;
  text-align: left; }

#reg-logo {
  width: 990px;
  position: relative;
  height: 120px;
  vertical-align: middle;
  z-index: 980; }
  #reg-logo div {
    margin: 18px 40px 0 0; }
    #reg-logo div a {
      width: 300px;
      height: 62px;
      margin-top: 16px;
      display: block;
      background: url(../img/reglogo.png) no-repeat; }

#reg-box {
  width: 990px;
  margin: 0 auto; }
  #reg-box #reg #reg-cont {
    background: url(../img/regbg.png) no-repeat scroll 580px -60px;
    border: 1px solid #E6E6E6;
    padding-bottom: 21px;
    margin-top: 68px;
    position: relative; }
    #reg-box #reg #reg-cont #reg-login {
      position: absolute;
      top: -25px;
      right: 20px; }
      #reg-box #reg #reg-cont #reg-login a {
        color: #006699;
        margin-left: 5px;
        cursor: pointer; }
    #reg-box #reg #reg-cont ul {
      position: absolute;
      top: -42px;
      left: 149px; }
      #reg-box #reg #reg-cont ul li:first-child {
        background: #fff;
        color: #cc0000;
        border-top: 2px solid #cc0000;
        float: left;
        width: 150px;
        height: 40px;
        text-align: center;
        font: bold 14px/41px "Microsoft YaHei";
        margin-left: 2px;
        border: 1px solid #e6e6e6;
        border-bottom: 0 none;
        cursor: pointer; }
      #reg-box #reg #reg-cont ul li:last-child {
        float: left;
        width: 150px;
        height: 40px;
        text-align: center;
        font: bold 14px/41px "Microsoft YaHei";
        margin-left: 2px;
        color: #5e5e5e;
        background: #F3F3F3;
        border: 1px solid #e6e6e6;
        border-bottom: 0 none;
        cursor: pointer; }
    #reg-box #reg #reg-cont #reg-form {
      padding-top: 40px; }
      #reg-box #reg #reg-cont #reg-form #duanxin #massage {
        width: 133px; }
      #reg-box #reg #reg-cont #reg-form #duanxin #inp7 {
        width: 105px;
        height: 44px;
        background: #fff;
        border: 1px solid #999;
        margin-left: 10px;
        cursor: pointer;
        font-size: 12px;
        color: #666; }
      #reg-box #reg #reg-cont #reg-form #duanxin #sp7 {
        position: absolute;
        top: -27px;
        left: 300px;
        display: none;
        height: 25px;
        width: 80px;
        color: #fff;
        background: #aaa;
        font-size: 16px;
        text-align: center;
        line-height: 30px; }
      #reg-box #reg #reg-cont #reg-form #inp8 {
        height: 44px;
        border: 0;
        margin-left: 150px;
        background: #ff5757;
        color: #fff;
        font-size: 16px;
        cursor: pointer; }
      #reg-box #reg #reg-cont #reg-form div {
        position: relative;
        height: 45px;
        margin-bottom: 30px; }
        #reg-box #reg #reg-cont #reg-form div i {
          background: url(../img/reg.png) no-repeat 0 -20px;
          width: 17px;
          height: 17px;
          position: absolute;
          top: 10px;
          left: 425px;
          display: none; }
        #reg-box #reg #reg-cont #reg-form div input {
          float: left;
          width: 298px;
          height: 38px;
          color: #999; }
        #reg-box #reg #reg-cont #reg-form div p {
          float: left;
          height: 45px;
          line-height: 45px;
          font-size: 14px;
          margin-left: 80px; }
        #reg-box #reg #reg-cont #reg-form div span {
          float: left;
          display: block;
          height: 45px;
          line-height: 45px;
          font-size: 12px;
          color: red;
          margin-left: 5px; }

#login-logo {
  width: 990px;
  position: relative;
  height: 80px;
  vertical-align: middle;
  z-index: 980;
  margin: 0 auto; }
  #login-logo #logo {
    margin: 18px 40px 0 0;
    color: #A5A5A5;
    margin-top: 32px; }
    #login-logo #logo a {
      background: url(../img/loginlogo.png) no-repeat;
      width: 300px;
      height: 62px;
      display: block; }

#login-head {
  background-color: #fff4e3;
  border-top: 1px solid #fee6bc;
  color: #A5A5A5; }
  #login-head p {
    width: 828px;
    height: 29px;
    padding-left: 10px;
    margin: 0 auto;
    background-color: #fff4e3;
    color: #ff7f23;
    font: 400 12px/29px "Microsoft Yahei"; }
    #login-head p em {
      color: #ff7f23;
      display: block;
      float: left;
      width: 16px;
      height: 16px;
      margin: 8px 5px 0 0;
      background: url(../img/login-bg-common.png) no-repeat -28px 0; }

#login-content {
  background: #f00059;
  width: 100%;
  height: 480px; }
  #login-content #content-bg {
    width: 1200px;
    height: 480px;
    margin: 0 auto;
    background: url(../img/loginbg.jpg) top center; }
    #login-content #content-bg #login-box-wrap {
      width: 350px;
      float: right;
      margin-top: 24px;
      margin-right: 105px;
      position: relative;
      background: #fff;
      overflow: visible; }
      #login-content #content-bg #login-box-wrap #login-box1 {
        height: 54px;
        position: relative; }
        #login-content #content-bg #login-box-wrap #login-box1 .login-head-left {
          float: left;
          padding: 15px 0; }
          #login-content #content-bg #login-box-wrap #login-box1 .login-head-left a {
            font-size: 18px;
            display: inline-block;
            width: 174px;
            text-align: center;
            border-right: 1px solid #f4f4f4;
            color: #5e5e5e; }
        #login-content #content-bg #login-box-wrap #login-box1 .login-head-right {
          float: left;
          padding: 15px 0; }
          #login-content #content-bg #login-box-wrap #login-box1 .login-head-right a {
            font-size: 18px;
            display: inline-block;
            width: 174px;
            text-align: center;
            color: #5e5e5e; }
      #login-content #content-bg #login-box-wrap #login-box2 {
        width: 350px;
        height: 266px;
        border-top: 1px solid #f4f4f4;
        border-bottom: 1px solid #f4f4f4;
        color: #A5A5A5; }
        #login-content #content-bg #login-box-wrap #login-box2 .login-tool-1 {
          width: 350px;
          height: 266px; }
          #login-content #content-bg #login-box-wrap #login-box2 .login-tool-1 img {
            display: block;
            margin: 15px auto; }
          #login-content #content-bg #login-box-wrap #login-box2 .login-tool-1 p {
            text-align: center;
            font-size: 12px;
            line-height: 24px;
            color: #5e5e5e; }
        #login-content #content-bg #login-box-wrap #login-box2 .login-tool-2 {
          width: 350px;
          height: 266px;
          display: none; }
          #login-content #content-bg #login-box-wrap #login-box2 .login-tool-2 .login-form .form-text {
            display: block;
            padding: 8px 10px 7px;
            width: 268px;
            height: 25px;
            border: 1px solid #CCC;
            color: #333;
            font-size: 4px;
            line-height: 21px;
            margin: 24px auto; }
          #login-content #content-bg #login-box-wrap #login-box2 .login-tool-2 .login-form input:nth-of-type(3) {
            margin-left: 30px; }
          #login-content #content-bg #login-box-wrap #login-box2 .login-tool-2 .login-form input:nth-of-type(4) {
            width: 290px;
            height: 42px;
            display: block;
            margin: 0 auto;
            margin-top: 24px;
            border: 0;
            background: #ff5757;
            font-size: 16px;
            color: #fff; }
      #login-content #content-bg #login-box-wrap #login-box3 {
        overflow: hidden;
        clear: both;
        background-color: #fcfcfc;
        padding: 9px 20px;
        color: #a5a5a5;
        position: relative;
        border: 1px solid #f0f0f0; }
        #login-content #content-bg #login-box-wrap #login-box3 p a {
          color: #5e5e5e;
          display: block;
          margin-left: 10px;
          float: left; }
          #login-content #content-bg #login-box-wrap #login-box3 p a:hover {
            color: red;
            text-decoration: underline; }

/*# sourceMappingURL=reglogin.css.map */
